@use '~bootstrap/scss/bootstrap';

body.orders-new{
  h2{
    font-size: 1.5rem !important;
    font-weight: bold;
  }
  h4{
    font-size: 1.1rem !important;
    font-weight: normal;
  }
}

.orders-confirm h2,
.orders-confirm h3,
.orders-confirm th,
.orders-confirm td {
  font-size: 1rem;
  font-weight: normal;
}

.nav-link{
  color: #6B4F32 !important;
}
.nav-link:hover{
  color: #3E2A1C !important;
}

.top-about-box {
  border: 2px solid #b58b4c;   
  border-radius: 12px;         
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fffaf2;   
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
}